ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border: 1px solid #2700E9;
    width:130px;
}
a{
	font-family: ""Metamorphous,
	cursive;
	text-decoration: none;
	font-size: 16px;
	display: block;
	padding: 6px;
	border: 1px solid #2700E9;
	background-color: #BEC6CB;
	color: #DC2C29;
}
a:hover{
   color: #BDFFFA;
   background-color: #E9002E;
   border-right-width: 5px;
   border-right-color: white;

}